<style>
    .page{ width:100%; height:40px; line-height:40px; text-align:center; font-size:12px; color:#333;}
    .page a{ display:inline-block; padding:0 5px; border:1px solid #CCC; color:#333; font-size:12px; height:23px; line-height:23px; margin:3px 2px;}
    .page .current{ display:inline-block; padding:0 7px; border:1px solid #CCC; color:#333; font-size:12px; height:23px; line-height:23px;
        margin:3px 2px; background:#1E0904; color:#FFF;}
    .flei{ width:1186px; border:2px solid #D3CEC9; height:auto; background:#FFF; border-radius:3px;}
    .flei li{ width:100%; height:auto;; border-bottom:1px solid #DFDCD9;}
    .flei li span{ height:30px; padding:4px 0; color:#B10D18; width:100%; display:inline-block; background:#EDEDE9;}
    .flei li div{ padding:10px 10px;}
    .flei li span i{ width:auto; display:inline-block; height:30px; line-height:30px; background:url(images/jtou.png) center left no-repeat;
        font-style: normal; margin-left:15px; text-indent:12px;}
    .flei li a{ color:#5E5E5E; font-size:14px; height:25px; line-height:25px; display:inline-block; padding:0 10px;}
    .flei li a.current{background-color:#380202;color:#FFF;}
    { color:#710404;}
</style>
<div class="count">
    <ul class="flei">
        <li>
            <span style="display:block; float:left;"><i>材质</i></span>
            <div>
                <a href="/pc.php?m=World&a=flei&meterid=1&pi=0&masterid=0">翡翠</a><a
                    href="/pc.php?m=World&a=flei&meterid=2&pi=0&masterid=0">琥珀</a><a
                    href="/pc.php?m=World&a=flei&meterid=3&pi=0&masterid=0">玛瑙</a><a
                    href="/pc.php?m=World&a=flei&meterid=4&pi=0&masterid=0">黄龙玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=5&pi=0&masterid=0">和田玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=7&pi=0&masterid=0">南红</a><a
                    href="/pc.php?m=World&a=flei&meterid=9&pi=0&masterid=0">水晶</a><a
                    href="/pc.php?m=World&a=flei&meterid=10&pi=0&masterid=0">水沫玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=11&pi=0&masterid=0">戈壁玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=12&pi=0&masterid=0">战国红</a><a
                    href="/pc.php?m=World&a=flei&meterid=13&pi=0&masterid=0">三彩玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=14&pi=0&masterid=0">玉髓</a><a
                    href="/pc.php?m=World&a=flei&meterid=15&pi=0&masterid=0">碧玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=16&pi=0&masterid=0">金丝玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=17&pi=0&masterid=0">岫玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=20&pi=0&masterid=0">青金石</a><a
                    href="/pc.php?m=World&a=flei&meterid=21&pi=0&masterid=0">绿松石</a><a
                    href="/pc.php?m=World&a=flei&meterid=22&pi=0&masterid=0">石英岩玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=23&pi=0&masterid=0">红宝石</a><a
                    href="/pc.php?m=World&a=flei&meterid=27&pi=0&masterid=0">砗磲</a><a
                    href="/pc.php?m=World&a=flei&meterid=33&pi=0&masterid=0">碧玺</a><a
                    href="/pc.php?m=World&a=flei&meterid=40&pi=0&masterid=0">其它</a><a
                    href="/pc.php?m=World&a=flei&meterid=43&pi=0&masterid=0">金冻石</a><a
                    href="/pc.php?m=World&a=flei&meterid=44&pi=0&masterid=0">珊瑚</a><a
                    href="/pc.php?m=World&a=flei&meterid=45&pi=0&masterid=0">东陵玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=47&pi=0&masterid=0">蜜蜡</a><a
                    href="/pc.php?m=World&a=flei&meterid=48&pi=0&masterid=0">阿拉善玉</a><a
                    href="/pc.php?m=World&a=flei&meterid=51&pi=0&masterid=0">海蓝宝</a><a
                    href="/pc.php?m=World&a=flei&meterid=52&pi=0&masterid=0">七彩玛瑙</a><a
                    href="/pc.php?m=World&a=flei&meterid=61&pi=0&masterid=0">欧泊</a> <a class="current"
                                                                                       href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=0">所有材质</a>
            </div>
        </li>
        <li>
            <span><i>价格</i></span>
            <div>
                <a href="/pc.php?m=World&a=flei&meterid=0&pi=2&masterid=0">0-3000</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=3&masterid=0">3000-5000</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=4&masterid=0">5000-10000</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=5&masterid=0">10000-20000</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=6&masterid=0">20000-50000</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=7&masterid=0">50000-999999</a> <a class="current"
                                                                                                href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=0">所有价格</a>
            </div>
        </li>
        <li style="border-bottom:none;">
            <span><i>玉雕名家</i></span>
            <div>
                <a href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=13">刘东</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=6">陈义</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=17">王朝阳</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=67">蒋红兵</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=93">张炳光</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=2">李牧祥</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=1">李少飞</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=122">施宗颖</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=120">郑国柳</a><a
                    href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=48">李克生</a> <a class="current"
                                                                                        href="/pc.php?m=World&a=flei&meterid=0&pi=0&masterid=0">所有玉雕师</a>
            </div>
        </li>
    </ul>
</div>
<div class="clear"></div>
<div class="count">
    <div style=" width:100%; height:15px;"></div>
    <!--<div class="cptit" style="margin-top:0;">
        <a class="tita" href="../pc.php?m=World&a=flei&id=1" target="_blank">翡 翠<span>/JADE</span></a>
        <div class="clear"></div>
    </div>-->
    <ul class="shiydsw">
        <li>
            <a href="/Goods/Detail/id/1148.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/29a0551a01d5.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/15871ded03f.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/1148.html" target="_blank">功成正果</a>
                        <a href="" target="_blank">作者：梁容区</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/1148.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/482.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/576354aca0d6.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/14.html" target="_blank" class="zzimgaw"><img src="picture/d747240d2b8.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/482.html" target="_blank">旗鼓相当</a>
                        <a href="/Graver/14.html" target="_blank">作者：王胜利</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/482.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/1250.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/97e1551e0dc5_1.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472edc942_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/1250.html" target="_blank">如意添福</a>
                        <a href="" target="_blank">作者：李少飞</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">请联系客服询价</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/1250.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/1128.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/5787551691cc.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472bd9f5b_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/1128.html" target="_blank">月夜孤舟</a>
                        <a href="" target="_blank">作者：陈义</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/1128.html" class="yybut huis">查看作品详细</a>
            <i>玛瑙</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/8.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/b9254867944_1.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472edc942_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/8.html" target="_blank">福瓜</a>
                        <a href="" target="_blank">作者：李少飞</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥40000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/8.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/13.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/de1a54867a56_1.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472edc942_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/13.html" target="_blank">八方来财</a>
                        <a href="" target="_blank">作者：李少飞</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥52000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/13.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/15.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/17f54867a3c_1.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472edc942_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/15.html" target="_blank">神兽</a>
                        <a href="" target="_blank">作者：李少飞</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥33000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/15.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/18.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/5279550158c9.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472edc942_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/18.html" target="_blank">灵猴献寿</a>
                        <a href="" target="_blank">作者：李少飞</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥20000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/18.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/507.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/13d2e54ae1d3f.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7471be4017.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/507.html" target="_blank">佛祖</a>
                        <a href="" target="_blank">作者：陈则孟</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/507.html" class="yybut huis">查看作品详细</a>
            <i>玛瑙</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/79.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/f20f54893784.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/3.html" target="_blank" class="zzimgaw"><img src="picture/d7472dde0f1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/79.html" target="_blank">释迦牟尼佛</a>
                        <a href="/Graver/3.html" target="_blank">作者：梁文斌</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/79.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/502.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/213054ae1931.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7471be4017.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/502.html" target="_blank">莲</a>
                        <a href="" target="_blank">作者：陈则孟</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥59000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/502.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/503.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/163a354ae19d5.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7471be4017.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/503.html" target="_blank">花开富贵</a>
                        <a href="" target="_blank">作者：陈则孟</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥65000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/503.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/420.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/e06754a0d310.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/420.html" target="_blank">齐天大圣</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/420.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/466.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/14c3054aa2a62.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d86b71dad1f_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/466.html" target="_blank">一鼓作气</a>
                        <a href="" target="_blank">作者：右一轩工作室</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥15000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/466.html" class="yybut huis">查看作品详细</a>
            <i>玉髓</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/500.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/59a454ae09a5.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7471be4017.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/500.html" target="_blank">悟道</a>
                        <a href="" target="_blank">作者：陈则孟</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/500.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/495.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/1759554ae06a1.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7471be4017.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/495.html" target="_blank">关公</a>
                        <a href="" target="_blank">作者：陈则孟</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/495.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/496.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/65b354ae0724.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7471be4017.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/496.html" target="_blank">忠义</a>
                        <a href="" target="_blank">作者：陈则孟</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/496.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/493.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/b4e54ae01a9.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/14.html" target="_blank" class="zzimgaw"><img src="picture/d747240d2b8.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/493.html" target="_blank">领头羊</a>
                        <a href="/Graver/14.html" target="_blank">作者：王胜利</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/493.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/47.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/10b3e5486ae59.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/47.html" target="_blank">糯冰种翠色释迦牟尼挂件</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/47.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/468.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/c7e054aa2d60.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d86b71dad1f_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/468.html" target="_blank">难得糊涂</a>
                        <a href="" target="_blank">作者：右一轩工作室</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥12000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/468.html" class="yybut huis">查看作品详细</a>
            <i>戈壁玉</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/50.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/12e575486bd4b.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/50.html" target="_blank">齐天大圣</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥18000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/50.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/425.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/982c54a0d4a0.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/425.html" target="_blank">飞天神女</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥20000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/425.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/428.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/771154a0d6c8.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/428.html" target="_blank">笑口常开</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥24000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/428.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/429.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/554754a0d730.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/429.html" target="_blank">四君子</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥26000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/429.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/430.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/4c5254a0d865.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/430.html" target="_blank">年年有余</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/430.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/60.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/d6b55486c8a6.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/60.html" target="_blank">莲花观音</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/60.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/62.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/730954879f74.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/62.html" target="_blank">冰种黄翡凤舞祥云挂件</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/62.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/64.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/c5755487a34c.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/64.html" target="_blank">节节高升</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/64.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/66.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/177785487a51b.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/66.html" target="_blank">松鹤延年</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥22000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/66.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/68.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/3a8e5487af3a.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/2.html" target="_blank" class="zzimgaw"><img src="picture/d7472e54413_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/68.html" target="_blank">降龙观音</a>
                        <a href="/Graver/2.html" target="_blank">作者：李牧祥</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/68.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/494.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/5b954ae0220.jpg">
            </a>
            <div class="zuozinfo">
                <a href="/Graver/14.html" target="_blank" class="zzimgaw"><img src="picture/d747240d2b8.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/494.html" target="_blank">仿古龙牌</a>
                        <a href="/Graver/14.html" target="_blank">作者：王胜利</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥9800元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/494.html" class="yybut huis">查看作品详细</a>
            <i>翡翠</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/101.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/4339548abb36.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472bd9f5b_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/101.html" target="_blank">等</a>
                        <a href="" target="_blank">作者：陈义</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/101.html" class="yybut huis">查看作品详细</a>
            <i>玛瑙</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/102.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/7606548abc3a_1.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d86b71dad1f_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/102.html" target="_blank">高洁</a>
                        <a href="" target="_blank">作者：右一轩工作室</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥10000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/102.html" class="yybut huis">查看作品详细</a>
            <i>玛瑙</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/103.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/171a4548abd38.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472bd9f5b_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/103.html" target="_blank">夏</a>
                        <a href="" target="_blank">作者：陈义</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/103.html" class="yybut huis">查看作品详细</a>
            <i>玛瑙</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/105.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/1ce5548abe7a_1.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d86b71dad1f_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/105.html" target="_blank">顶天立地</a>
                        <a href="" target="_blank">作者：右一轩工作室</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥10000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/105.html" class="yybut huis">查看作品详细</a>
            <i>玛瑙</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/106.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/4c94548abf22_1.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472bd9f5b_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/106.html" target="_blank">夏日丽人</a>
                        <a href="" target="_blank">作者：陈义</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥13000元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/106.html" class="yybut huis">查看作品详细</a>
            <i>玛瑙</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/107.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/3ea548abfbf.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472bd9f5b_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/107.html" target="_blank">志在蓝天</a>
                        <a href="" target="_blank">作者：陈义</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/107.html" class="yybut huis">查看作品详细</a>
            <i>玛瑙</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/108.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/fd47548ac065.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472bd9f5b_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/108.html" target="_blank">大师兄</a>
                        <a href="" target="_blank">作者：陈义</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/108.html" class="yybut huis">查看作品详细</a>
            <i>玛瑙</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/109.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/b8c4548ac0ef.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d7472bd9f5b_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/109.html" target="_blank">独占鳌头</a>
                        <a href="" target="_blank">作者：陈义</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/109.html" class="yybut huis">查看作品详细</a>
            <i>玛瑙</i>
        </li>
        <li>
            <a href="/Goods/Detail/id/110.html" target="_blank" class="daaimg">
                <img class="lazyimg" src="picture/5d5e548ac252.jpg">
            </a>
            <div class="zuozinfo">
                <a href="" target="_blank" class="zzimgaw"><img src="picture/d86b71dad1f_1.jpg"></a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="/Goods/Detail/id/110.html" target="_blank">凌云</a>
                        <a href="" target="_blank">作者：右一轩工作室</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">已结缘</span>

                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/Detail/id/110.html" class="yybut huis">查看作品详细</a>
            <i>戈壁玉</i>
        </li>
    </ul>
    <div class="clear"></div>
    <ul class="page"><span class='pageinfo'>299 条记录 1/8 页 </span> <a href='/World/flei/p/2.html'>下一页</a></ul>
    <div class="clear"></div>
</div>
<div class="clear"></div>
