    <div class="count">
        <ul class="shiydsw">
            <li class="" id="goods_4398"><a href="/Goods/4398.html" target="_blank" class="daaimg"><img class="lazyimg" src="picture/imghold_4.gif" data-original="https://ydjimg.jaadee.net/uploads/2016/01/18/ce9569c7c35.jpg" /></a>
                <div class="zuozinfo">
                    <a href="/Graver/102.html" target="_blank" class="zzimgaw"><img src="/index/picture/yudiaoshi.jpg" /></a>
                    <div class="zzzpw">
                        <div class="zzup">
                            <a href="/Goods/4398.html" target="_blank">牧马青山</a>
                            <a href="/Graver/102.html" target="_blank">作者：李斯</a>
                        </div>
                        <div class="zzupb">
                            <span style="color:#F60" class="jiage">已结缘</span>
                        </div>
                    </div>
                </div><a target="_blank" href="/Goods/4398.html" class="yybut huis">查看作品详细 </a><i>玛瑙</i></li>
        </ul>
        <!--分页-->
        <div class="clear"></div>
        <ul class="cplispage">
            <span class="pageinfo">76 条记录 2 页 </span>
            <span class="current">1</span>
            <a href="/Collection/index/p/2.html">2</a>
            <a href="/Collection/index/p/2.html">下一页</a>
        </ul>
        <div style="clear:both;"></div>
    </div>
</div>
