<style>
    .dastuij{ width:1208px; height:auto; float:left;}
    .dastuij li{ width:191px; height:226px; margin-right:10px; background:#fff; float:left; margin-bottom:10px; display:inline-block;}
    .dastuij li .aimg{ width:191px; height:191px; float:left; overflow:hidden; background: url(images/load_1.gif) center no-repeat;}
    .dastuij li .aimg img{ width:191px; height:191px;float:left;}
    .dastuij li:hover .aimg img{width:193px; height:193px; margin-left:-1px; margin-top:-1px; }
    .dastuij h4{ background:#4D4240; width:100%; float:left;}
    .dastuij h4 a{ width:100%; height:35px; line-height:35px; color:#FFF; text-align:center; float:left;}
</style>
<div class="clear"></div>
<div class="clear"></div>
<div class="count">
        <ul class="dastuij" style="margin-top:10px;">
    <li>
        <a class="aimg" target="_blank" href='/index/index/graverDetail'>
            <img class="lazyimg" src="picture/imghold_1.gif" data-original="https://ydjimg.jaadee.net/uploads/2016/11/17/d747286ed4e.jpg" />
        </a>
        <h4><a href="/Graver/13.html">刘东</a></h4>
        <div class="clear"></div>
    </li>
    </ul>

    </div>
<div style="clear:both;"></div>
    <ul class="page">
    	<li class="aupd"><a href="">上一页</a></li>
        <li>1/6</li>
        <li class="aupd"><a href="/Graver/p2.html">下一页</a></li>
    </ul>
</div>
