<style>
    .intro{float:right;width:880px;}
    .shiydsw li a{ width:100%;float:left;background:url(/static/ydj/images/load.gif) center no-repeat;}
    .shiydsw li a img{float: left; width: 100%;}

    .leftrow{width:300px;float:left;}
    .leftrow .zzheimg{border:1px solid #ccc;width:298px;}
    .leftrow .zzheimg img{width:298px;}
    .position{margin:20px auto;border-bottom:1px solid #ccc;line-height:30px;}

    .rightrow{width:880px;float:right;}
    .rightrow h3 {
        border-bottom: 1px solid #ccc;
        font-size: 30px;
        font-weight: normal;
        line-height: 40px;
        padding-top: 30px;
        text-indent: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .rightct{
        text-indent:2em;color:#555;line-height:170%;
    }

    .rightrow .yishucj  {text-align:left;text-indent:0em; background-color:#FAFAFA;padding:30px;padding-left:40px;}
    .zuopinlist{width:300px;}
    .zuopinlist li{width:140px;border:1px solid #ccc;margin:0px auto;margin-bottom:10px;float:left;text-align:center;clear:left;}
    .zuopinlist li.rt{float:right;clear:right;}
    .zuopinlist li img{width:100%;}
    .morepg{display:block;clear:both;text-align:center;margin-top:10px;border:1px solid #ccc;background-color:#EEE;color:#333;text-decoration:none;line-height:30px;}
    .zuopinul{margin-top:5px;}
    .zuopinul .gname{display:block;background-color:#EEE;text-align:center:line-height:25px;}
    .position{padding-left:5px;color:#555;}
    .position a{color:#600;}
</style>
<div class="count">
        <div class="position"><a href="/">琢玉界</a><span>>></span><a href="graver.html">玉雕名家</a><span>>></span>刘东
        </div>
        <div class="leftrow">

            <div class="zzheimg"><img src="/index/picture/yudiaoshi.jpg"/></div>


        </div>
        <div class="rightrow"><h3>刘东</h3>
            <div class="rightct">
                刘东，中国玉石雕刻大师，当代玉雕艺术家，现为中国美术学会雕塑专业委员会会员，中国珠宝首饰行业协会理事，福建省寿山石文化艺术研究会理事，集天工奖、百花奖、神工奖等众多奖项的金奖得主。多次应邀赴海外办个人作品展，作品多入选海内外博物馆收藏。近年来国内主流媒体竞相关注、采访及专题播报。个人专著有《枕石悟语》、《刘东雕塑艺术》。从事玉石雕刻艺术创作近三十年，其作品极具思想内涵与哲学深意，对东西方的人文思想及历史文化的研读深得正悟，集诗书画篆等艺术的精髓和娴熟的技法相融合。
            </div>
            <div class="clear"></div>
            <h3 style="margin-bottom:0px;">艺术成就</h3>
            <div class="rightct yishucj">
                　　“艺术家不一定要把自己的作品解读得很清晰，艺术家要创造一个引发深度思考的符号。我这个作品是给你去思考的，我有我主观的解释，但我不告诉你我的解释是正确的还是错误的，没有标准答案。”<br>
                <br>
                　　在刘东看来，玩收藏、旅游、极限运动、探险等，是国人追求精神享受的一种表现。博物馆、歌剧院、艺术馆这一类的场所将会越来越多，这也将增强人们在艺术文化方面的熏陶。刘东说，奢侈代表的是一种更高的生活品质，不能简单的理解为浪费、拜金这样的行为。当下存在的问题，只是国人对待消费的观念问题。<br>
                <br>
                　　长久以来，中国的玉文化一直停留在宫廷之中，无论是神玉文化还是礼玉文化，只有有德行有身份的人才能佩玉戴玉，平民百姓是不能玩的。从这一点来说，玉文化其实也是一种贵族文化，一种高品质生活方式的追求和表现。<br>
                <br>
                　　回归传统，从传统中寻找灵感和创意，这成为诸多艺术行业喊出的口号。从玉雕创作来看，回归应该以一种什么样的方式呈现呢？<br>
                <br>
                　　刘东说，不同时代有不同的回归，理性的回归应该是心灵、思想、认识、审美回归。而在玉雕创作上，对传统玉雕艺术的传承，应该是在正解传统，正读经典的基础上，同时保留这个时代的文化特征与符号。<br>
                <br>
                　　对于如何在玉雕创作中呈现时代气息、时代符号，刘东说关键是要捕捉到时下的审美趋向，文化主流是什么，然后再回过去看传统。如果玉雕师看不清当下需要什么，也看不清历史沉淀下来什么，主观上觉得可以就乱做鸳鸯谱，这样是不行的。就当前很多传统题材的玉雕创作，刘东认为比较盲目，只是一种伪文化、伪艺术。<br>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="goodslist">
            <div class="atit "><h3><span class="">玉雕作品（共1件）</span></h3></div>
            <ul class="shiydsw">
                <li><a href="/Goods/2239.html"><img class="lazyimg" src="picture/imghold.gif"
                                                    data-original="https://ydjimg.jaadee.net/uploads/2015/07/03/70b155961c19.jpg"/></a>
                    <div class="infows"><span class="gname">绽</span><span class="spjy">请联系客服询价</span></div>
                    </span></li>
            </ul>
            <div class="clear"></div>
            <a class="atit" href="/Goods/?masterid=13" class="artljgm">点击查看更多(1件)玉雕作品</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
