<!--轮播图-->
<div class="count">
    <div class="yfocus">
        <div class="yfocusl">
            <div class="wrapper">
                <div id="focus">
                    <!--焦点图-->
                    <ul>
                        <li>
                            <a title="私人定制" href="siren.html"
                               target="_blank">
                                <img src="{$Think.config.index}/picture/9be1e7857f959f0a203431f9566e5add.jpg">
                            </a>
                        </li>
                        <li>
                            <a title="民间巧匠" href="mjqj.html" target="_blank">
                                <img src="{$Think.config.index}/picture/d8174065b83.png"></a>
                        </li>
                        <li><a title="玉石原料" href="yuanliao.html" target="_blank"><img
                                src="{$Think.config.index}/picture/d9634b21bb6.jpg"></a>
                        </li>
                        <li><a title="收藏推荐" href="index/index/yuanliao.html" target="_blank"><img
                                src="{$Think.config.index}/picture/d8173f0ca8d.jpg"></a>
                        </li>
                        <li>
                            <a title="动态" href="dongtai.html" target="_blank">
                                <img src="{$Think.config.index}/picture/d81740c9f57.jpg"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="count">
    <div class="tith">
        <h3>玉雕作品</h3>
        <a href="goods.html" target="_blank">更多&gt;&gt;</a>
        <div style="clear:both;"></div>
    </div>
    <!--玉雕作品list，保留一个，从后台加载数据渲染-->
    <ul class="shiydsw">
        <!--item-->
        <li class="" id="goods_32034">
            <a href="goodsDetail.html" target="_blank" class="daaimg" target="_blank">
                <img class="lazyimg" src="{$Think.config.index}/picture/imghold.gif"
                     data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/22-09-dd6f1e686b7.jpg"/>
            </a>
            <div class="zuozinfo">
                <a href="graverDetail.html" target="_blank" class="zzimgaw">
                    <img src="/index/picture/yudiaoshi.jpg"/>
                </a>
                <div class="zzzpw">
                    <div class="zzup">
                        <a href="graverDetail.html" target="_blank">莲花冠以</a>
                        <a href="graverDetail.html" target="_blank">作者：何亚波</a>
                    </div>
                    <div class="zzupb">
                        <span class="jiage">￥10800元</span>
                    </div>
                </div>
            </div>
            <a target="_blank" href="/Goods/32034.html" class="yybut huis">查看作品详细 </a>
            <i>翡翠</i>
        </li>

    </ul>
</div>
<div class="clear"></div>
<div class="count">
    <div class="tith">
        <h3>玉雕名家</h3>
        <a href="graver.html" target="_blank">更多&gt;&gt;</a>
        <div style="clear:both;"></div>
    </div>
    <div class="graverlist">
        <ul class="zjul">
            <!--item-->
            <li>
                <a href="graverDetail.html" target="_blank">
                    <img class="lazyimg" src="/index/picture/imghold.gif"
                         data-original="https://ydjimg.jaadee.net/uploads/2016/11/17/d747286ed4e.jpg"/>
                </a>
                <span>刘东</span>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>