<style>
    .banner {
        float: left;
        width: 100%;
        height: 500px;
        background: url(/index/images/mjqj-banner.jpg) center no-repeat;
    }

    .prlist {
        width: 100%;
        float: left;
        padding-bottom: 14px
    }
</style>
<div class="banner"></div>
<div class="clear"></div>
<div class="count">
    <ul class="prlist">
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32508"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-16-162667bd464.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">鹿</div>
            <div class="aside"><p>【货 号】：YDJ032508</p>
                <P>【结缘价】<b>￥2700元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32508">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32505"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-16-dd800d37f6e.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">浪荡的浪</div>
            <div class="aside"><p>【货 号】：YDJ032505</p>
                <P>【结缘价】<b>￥5500元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32505">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32503"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-16-dd800d178e9.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">你看，那个人好像一条狗</div>
            <div class="aside"><p>【货 号】：YDJ032503</p>
                <P>【结缘价】<b>￥5500元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32503">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32500"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-16-dd800cd4c87.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">相融</div>
            <div class="aside"><p>【货 号】：YDJ032500</p>
                <P>【结缘价】<b>￥6300元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32500">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32497"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-16-dd800c907c9.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">如是观</div>
            <div class="aside"><p>【货 号】：YDJ032497</p>
                <P>【结缘价】<b>￥6300元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32497">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32493"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-16-dd800c1b7fd.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">西王母</div>
            <div class="aside"><p>【货 号】：YDJ032493</p>
                <P>【结缘价】<b>￥4800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32493">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32490"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-16-dd800bf7f21.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">相忘</div>
            <div class="aside"><p>【货 号】：YDJ032490</p>
                <P>【结缘价】<b>￥2800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32490">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32487"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-16-dd800b98dce.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">【优选】沧浪之水</div>
            <div class="aside"><p>【货 号】：YDJ032487</p>
                <P>【结缘价】<b>￥1800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32487">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32467"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-15-dd7ff305697.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">荷韵</div>
            <div class="aside"><p>【货 号】：YDJ032467</p>
                <P>【结缘价】<b>￥21600元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32467">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32443"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-13-dd7fc50e3bc.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">连年有余</div>
            <div class="aside"><p>【货 号】：YDJ032443</p>
                <P>【结缘价】<b>￥64500元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32443">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32442"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cbbcf07e.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">【优选】金龟添财</div>
            <div class="aside"><p>【货 号】：YDJ032442</p>
                <P>【结缘价】<b>￥5000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32442">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32428"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-16-dd7ce74ceaf.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">莲花观音</div>
            <div class="aside"><p>【货 号】：YDJ032428</p>
                <P>【结缘价】<b>￥36000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32428">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32425"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-16-dd7ce77531d.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">禅心佛容</div>
            <div class="aside"><p>【货 号】：YDJ032425</p>
                <P>【结缘价】<b>￥36000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32425">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32422"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-10-dd7f42dc2a8.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">地藏王菩萨</div>
            <div class="aside"><p>【货 号】：YDJ032422</p>
                <P>【结缘价】<b>￥36000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32422">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32406"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-10-dd7f5854bcb.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">游庐山</div>
            <div class="aside"><p>【货 号】：YDJ032406</p>
                <P>【结缘价】<b>￥61500元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32406">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32403"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-10-dd7f5b101af.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">双龙护主</div>
            <div class="aside"><p>【货 号】：YDJ032403</p>
                <P>【结缘价】<b>￥235000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32403">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32398"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-11-dd7f736c5d5.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">万佛朝宗</div>
            <div class="aside"><p>【货 号】：YDJ032398</p>
                <P>【结缘价】<b>￥36000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32398">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32395"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-10-dd7f594b04b.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">花开现佛</div>
            <div class="aside"><p>【货 号】：YDJ032395</p>
                <P>【结缘价】<b>￥86000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32395">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32380"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/27-10-dd7f4dceea7.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">【优选】送子观音</div>
            <div class="aside"><p>【货 号】：YDJ032380</p>
                <P>【结缘价】<b>￥42000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32380">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32376"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-10-dd759a2ae35.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">新的一年</div>
            <div class="aside"><p>【货 号】：YDJ032376</p>
                <P>【结缘价】<b>￥6800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32376">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32373"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cbf280ed.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">观音菩萨</div>
            <div class="aside"><p>【货 号】：YDJ032373</p>
                <P>【结缘价】<b>￥15000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32373">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32370"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cbf60bd6.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">福猪送财</div>
            <div class="aside"><p>【货 号】：YDJ032370</p>
                <P>【结缘价】<b>￥38800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32370">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32367"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cbf9b1a5.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">龙龟赐福</div>
            <div class="aside"><p>【货 号】：YDJ032367</p>
                <P>【结缘价】<b>￥50000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32367">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32364"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cbfbc113.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">平安富贵</div>
            <div class="aside"><p>【货 号】：YDJ032364</p>
                <P>【结缘价】<b>￥33600元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32364">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32358"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cc003805.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">花开富贵</div>
            <div class="aside"><p>【货 号】：YDJ032358</p>
                <P>【结缘价】<b>￥75800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32358">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32346"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cc23c0d1.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">枯木逢春</div>
            <div class="aside"><p>【货 号】：YDJ032346</p>
                <P>【结缘价】<b>￥135000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32346">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32343"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cc25885a.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">释迦牟尼</div>
            <div class="aside"><p>【货 号】：YDJ032343</p>
                <P>【结缘价】<b>￥39600元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32343">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32340"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cc274e54.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">童子送福</div>
            <div class="aside"><p>【货 号】：YDJ032340</p>
                <P>【结缘价】<b>￥32500元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32340">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32337"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cc29d730.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">弥勒送福</div>
            <div class="aside"><p>【货 号】：YDJ032337</p>
                <P>【结缘价】<b>￥46800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32337">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32334"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cc2be684.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">喜气洋洋</div>
            <div class="aside"><p>【货 号】：YDJ032334</p>
                <P>【结缘价】<b>￥14000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32334">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32331"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cb9d8a32.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">龙行天下</div>
            <div class="aside"><p>【货 号】：YDJ032331</p>
                <P>【结缘价】<b>￥97500元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32331">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32328"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-1626129137a.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">怡然自得</div>
            <div class="aside"><p>【货 号】：YDJ032328</p>
                <P>【结缘价】<b>￥51000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32328">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32322"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-15-dd7cb844152.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">风雪梅花鹿</div>
            <div class="aside"><p>【货 号】：YDJ032322</p>
                <P>【结缘价】<b>￥51000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32322">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32314"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-17-dd7685d1241.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">如意青竹 · 香插</div>
            <div class="aside"><p>【货 号】：YDJ032314</p>
                <P>【结缘价】<b>￥4800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32314">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32313"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-11-162604289db.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">辟邪貔貅</div>
            <div class="aside"><p>【货 号】：YDJ032313</p>
                <P>【结缘价】<b>￥5400元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32313">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32310"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-16-dd767859a6d.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">貔貅呈瑞</div>
            <div class="aside"><p>【货 号】：YDJ032310</p>
                <P>【结缘价】<b>￥19800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32310">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32286"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-dd7bf0b0ce1.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">仿古龙</div>
            <div class="aside"><p>【货 号】：YDJ032286</p>
                <P>【结缘价】<b>￥9000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32286">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32283"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-09-dd7befd177f.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">辟邪瑞兽</div>
            <div class="aside"><p>【货 号】：YDJ032283</p>
                <P>【结缘价】<b>￥20500元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32283">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32281"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-09-dd7befa79be.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">辟邪瑞兽</div>
            <div class="aside"><p>【货 号】：YDJ032281</p>
                <P>【结缘价】<b>￥20500元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32281">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32278"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/26-09-dd7bef76bf2.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">辟邪瑞兽</div>
            <div class="aside"><p>【货 号】：YDJ032278</p>
                <P>【结缘价】<b>￥28800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32278">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32271"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-15-dd7655b6c1c.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">自在观音</div>
            <div class="aside"><p>【货 号】：YDJ032271</p>
                <P>【结缘价】<b>￥165000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32271">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32268"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-15-dd765cb5957.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">池鱼戏莲</div>
            <div class="aside"><p>【货 号】：YDJ032268</p>
                <P>【结缘价】<b>￥28800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32268">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32265"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-15-dd765cd9621.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">弥勒送福</div>
            <div class="aside"><p>【货 号】：YDJ032265</p>
                <P>【结缘价】<b>￥46800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32265">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32262"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-15-dd765d32463.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">竹报平安</div>
            <div class="aside"><p>【货 号】：YDJ032262</p>
                <P>【结缘价】<b>￥7900元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32262">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32251"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-13-dd7615b7274.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">玉兰花</div>
            <div class="aside"><p>【货 号】：YDJ032251</p>
                <P>【结缘价】<b>￥2800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32251">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32244"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-10-dd759a78fc1.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">螭龙如意</div>
            <div class="aside"><p>【货 号】：YDJ032244</p>
                <P>【结缘价】<b>￥3600元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32244">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32241"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-15-dd7653f4920.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">六字大明咒·手牌</div>
            <div class="aside"><p>【货 号】：YDJ032241</p>
                <P>【结缘价】<b>￥6200元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32241">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32223"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-17-dd768cc7de8.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">如意连连</div>
            <div class="aside"><p>【货 号】：YDJ032223</p>
                <P>【结缘价】<b>￥8100元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32223">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32215"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-15-dd7644f7e5b.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">金蟾送福</div>
            <div class="aside"><p>【货 号】：YDJ032215</p>
                <P>【结缘价】<b>￥2000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32215">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32212"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-15-dd76452064c.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">金蟾送宝</div>
            <div class="aside"><p>【货 号】：YDJ032212</p>
                <P>【结缘价】<b>￥2000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32212">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32209"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-15-dd7649e4e05.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">代代有财</div>
            <div class="aside"><p>【货 号】：YDJ032209</p>
                <P>【结缘价】<b>￥6300元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32209">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32206"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-14-dd76289f116.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">观音圣象</div>
            <div class="aside"><p>【货 号】：YDJ032206</p>
                <P>【结缘价】<b>￥225000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32206">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32205"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-14-16256a71d2b.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">大日如来</div>
            <div class="aside"><p>【货 号】：YDJ032205</p>
                <P>【结缘价】<b>￥21600元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32205">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32200"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-14-dd7627fc9fa.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">貔貅指环</div>
            <div class="aside"><p>【货 号】：YDJ032200</p>
                <P>【结缘价】<b>￥32400元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32200">查看<br>详细</a></li>
        <li class="list-li">
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32199"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-14-dd76284eeac.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">如虎添翼</div>
            <div class="aside"><p>【货 号】：YDJ032199</p>
                <P>【结缘价】<b>￥36000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32199">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32169"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/24-09-dd759305f67.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">世外桃源</div>
            <div class="aside"><p>【货 号】：YDJ032169</p>
                <P>【结缘价】<b>￥39800元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32169">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32157"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/23-15-dd731e1ddd1.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">禅心佛影</div>
            <div class="aside"><p>【货 号】：YDJ032157</p>
                <P>【结缘价】<b>￥54000元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32157">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32154"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/23-15-dd731e4f74d.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">游庐山</div>
            <div class="aside"><p>【货 号】：YDJ032154</p>
                <P>【结缘价】<b>￥67500元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32154">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32151"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/23-15-dd731e6e90b.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">灵猴献寿</div>
            <div class="aside"><p>【货 号】：YDJ032151</p>
                <P>【结缘价】<b>￥41500元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32151">查看<br>详细</a></li>
        <li class="list-li"><img style="position:absolute; top:0; left:0;" src="/index/images/videotag.png"/>
            <div class="thumb"><a target="_blank" href="?m=Goods&a=detail&id=32148"><img class="lazyimg"
                                                                                         data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/23-15-dd731e9b07d.jpg"
                                                                                         src="picture/imghold.gif"></a>
            </div>
            <div class="title">降龙观音</div>
            <div class="aside"><p>【货 号】：YDJ032148</p>
                <P>【结缘价】<b>￥39600元</b></P></div>
            <a class="aside-r" target="_blank" href="?m=Goods&a=detail&id=32148">查看<br>详细</a></li>
    </ul>
    <div class="mjpage"> 3902 条记录 1/66 页 <a href='/Mjqj/index/p/2.html'>下一页</a> <span class='current'>1</span><a
            href='/Mjqj/index/p/2.html'>2</a><a href='/Mjqj/index/p/3.html'>3</a><a
            href='/Mjqj/index/p/4.html'>4</a><a href='/Mjqj/index/p/5.html'>5</a> <a
            href='/Mjqj/index/p/6.html'>下5页</a> <a href='/Mjqj/index/p/66.html'>最后一页</a></div>
</div>

</div>
