<link rel="stylesheet" href="{$Think.config.index}/css/personal.css">
<div class="clear"></div><!--导航-->
<div class="clear"></div>
<div class="timgwr"><img src="{$Think.config.index}/picture/topimg.png"/>
    <div class="clear"></div>
</div>
<div class="pcan1" style="background:#fff;">
    <div class="pwrap">
        <div class="left"><img src="{$Think.config.index}/picture/dz1.png"/></div>
        <div class="right"><p> 随着市场玉雕作品题材重复性过高，导致普遍出现审美疲劳，藏家对玉雕作品的雕刻设计越发讲究，因此琢玉界
            联合多位签约玉雕师推出全国最专业的私人定制服务，我们力求让私人定制业务更加亲民。
        </p> 　 　<p> 从开通私人定制服务至今，每一次私人定制我们都在记录，我们力求让藏友们感受到整件作品的创作过程，让客户
            感受到实实在在的参与感。关注琢玉界公众号（xxxx）,每天欣赏定制作品。
        </p></div>
        <div class="clear"></div>
    </div>
</div>
<div class="pcan2" style="background:#F5F5F5;">
    <div class="pwrap">
        <div class="pcan21">
            <div class="left"><h3>「 定制业务介绍 」</h3>
                <p>目前，私人定制已成为玉器收藏的新趋势，为满足用户个性化需求，琢玉界推出私人定制服务项目，为您打造专属您的私人珍藏品。</p>
                <h3>「 名家主刀·精品传世」 </h3>
                <p>琢玉界私人定制有国内知名的50余玉雕名家团队支撑，因需设计、因料施艺，力争让每一件定制作品都成为传世精品。</p>
                <h3>「 海量毛料随心挑选」 </h3>
                <p>为满足全国各地翠友的个性化定制需求，琢玉界每天推出一手各色高中端好毛料，任你随心挑选，定制专属！</p>
                <div class="clear"></div>
            </div>
            <div class="right"><img src="{$Think.config.index}/picture/dz2.png"/></div>
            <div class="clear"></div>
        </div>
        <div class="pcan22"><h3 class="ttit">「 私人定制业务分类 」</h3>
            <div class="left"><img src="{$Think.config.index}/picture/dz3.png"/></div>
            <div class="right"><h3>来料加工定制</h3>
                <p>藏友提供原材料，并阐述所要定制的题材，在此基础上，琢玉界推选几位签约玉雕师供藏友选择。确定玉雕师之后，并为藏友出定制方案，双方达成一致，开始定制制作。</p>
                <h3>买料加工定制</h3>
                <p>在琢玉界定制平台挑选喜欢的料子，购买后与专属客服沟通定制细节，双方敲定后开始制作。</p>
                <h3>专属个性定制</h3>
                <p>专属个性定制，满足个性需求，让收藏更有意义。你可以说出你的想法，或者提供样图，或者提出更多个性化要求。</p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="pcan3" style="background:#fff;">
    <div class="pwrap">

         <div class="hleft"><h3 class="bztit bztit1">选料</h3>
            <p class="bahr"> 选择材料是设计雕刻的第一步骤，材料好坏决定着题材和作品的精细程度，玉料优质、雕刻 必须做到精雕细刻。
            </p>
            <div class="bzimg"><img src="{$Think.config.index}/picture/b1.png"/></div>
            <h3 class="bztit bztit3">整形</h3>
            <p class="bahr"> 根据选择的材料认真审视，吃透玉料，挖脏避绺；根据选择的题材，将切割好的玉料打磨出大致形状。
            </p>
            <div class="bzimg"><img src="{$Think.config.index}/picture/b3.png"/></div>
            <h3 class="bztit bztit5">打粗坯</h3>
            <p class="bahr"> 首先用钻石粉铡砣铡除墨线以外的玉肉，用铡砣贴、蹭出大轮廓。换用轧砣、棒钉修整外型，琢磨满意为止。这是雕刻的第一步“出大形”。
            </p>
            <div class="bzimg"><img src="{$Think.config.index}/picture/b5.png"/></div>
            <h3 class="bztit bztit7">抛光</h3>
            <p class="bahr"> 通过上膏、推磨、精抛和上蜡等步骤，让翡翠更加晶莹通透，同时对翡翠成品表面一的种保护。
            </p>
            <div class="bzimg"><img src="{$Think.config.index}/picture/b7.png"/></div>
        </div>
         <div class="hright">
            <h2 class="zzgc" style=" text-align:center;">接下来带你走进那些玉雕幕后的制作过程......</h2>
            <h3 class="bztit bztit2">切料</h3>
            <p class="bahr"> 是关键一环节，
                一般正常程序是先擦皮看玉石表面特征，比如翠色的走向，裂隙的发育与走向，翡色和紫色等颜色，黑色的分布状况，种水里外变化分析与估计，原石的外形等特征。其次，根据原石整体状况与可能做加工的用途来确定。然后，再决定是整个原料做雕件，还是切开来做。
            </p>
            <div class="bzimg"><img src="{$Think.config.index}/picture/b2.png"/></div>
            <h3 class="bztit bztit4">设计</h3>
            <p class="bahr"> 将构思好的题材，根据玉料的种水、颜色，在玉料上进行描绘勾勒。
            </p>
            <div class="bzimg"><img src="{$Think.config.index}/picture/b4.png"/></div>
            <h3 class="bztit bztit6">修细坯</h3>
            <p class="bahr"> 调整大型，确定细部，这时候要专心地一边顺活一边校正细部，琢磨到没有一点多余的玉肉为止，顺活结束。雕刻结束的作品没有玉的晶莹、圆润之感。
            </p>
            <div class="bzimg"><img src="{$Think.config.index}/picture/b6.png"/></div>
            <h3 class="bztit bztit8">完成作品</h3>
            <div class="bzimg"><img src="{$Think.config.index}/picture/b8.png"/></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="pcan2" style="background:#F5F5F5;">
    <div class="pwrap"><h3 class="jdallistt">「 私人定制经典案例 」</h3>
        <ul class="allist">
            <li><img src="{$Think.config.index}/picture/j1.png"/><span class="sp1">案例一</span><span class="sp2">冰种翡翠 · 背影</span></li>
            <li><img src="{$Think.config.index}/picture/j2.png"/><span class="sp1">案例二</span><span class="sp2">玻璃种 · 空</span></li>
            <li><img src="{$Think.config.index}/picture/j3.png"/><span class="sp1">案例三</span><span class="sp2">裂脏料子 · 禅悟</span></li>
            <li><img src="{$Think.config.index}/picture/j4.png"/><span class="sp1">案例四</span><span class="sp2">俏色 · 看护</span></li>
            <li><img src="{$Think.config.index}/picture/j5.png"/><span class="sp1">案例五</span><span class="sp2">冰飘蓝花· 空谷幽兰</span><strong></strong>
            </li>
            <div class="clear"></div>
        </ul>
        <h3 class="jdallistt">「 定制对接流程 」</h3>
        <ul class="pliuch">
            <li>
                <div class="duan">1</div>
                <p>挑选心仪的原料；<br>或提供原料</p></li>
            <li>
                <div class="chan">2</div>
                <p>客户向琢玉界<br>提出定制具体需求</p></li>
            <li>
                <div class="duan">3</div>
                <p>琢玉界出具设计方案</p></li>
            <li>
                <div class="chan">4</div>
                <p>确认无误后，客户支付定制款及材料费</p></li>
            <li>
                <div class="duan">5</div>
                <p>进入加工定制流程</p></li>
            <li>
                <div class="chan">6</div>
                <p>制作完成，个性化藏品诞生</p></li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<div class="pcan3" style="background:#fff;">
    <div class="pwrap">
        <div class="butcodew"><img src="{$Think.config.index}/picture/bimg1.png"/><img src="{$Think.config.index}/picture/bimg2.png"/><img src="{$Think.config.index}/picture/bimg3.png"/>
        </div>
    </div>
</div>
<div style=" width:100%; height:auto; padding:20px 0; background:#f5f5f5;">
