    <div class="count">
        <div class="glistw" style="width:100%;">
            <ul class="glistul">
                <li class="" id="goods_31815"><a href="/Goods/31815.html" target="_blank" class="daaimg">
                    <img class="lazyimg" src="picture/imghold_3.gif" data-original="https://ydjimg.jaadee.net/uploads/ydj/images/2018/03/19-09-dd65711927d.jpg" /></a>
                    <div class="zuozinfo" style="height:auto;">
                        <div class="zzup" style="height:25px; line-height:25px;">
                            <a href="/Goods/31815.html" target="_blank">冰种飘花翡翠毛料</a>
                        </div>
                        <div class="zzupb">
                            <span class="jiage">￥68000元</span>
                        </div>
                    </div><a target="_blank" href="/Goods/31815.html" class="yybut huis">查看作品详细 </a><i>翡翠</i>
                </li>
            </ul>
            <div class="clear"></div>
            <ul class="cplispage">
                <span class="pageinfo">297 条记录 1/15 页 </span>
                <span class="current">1</span>
                <a href="/Wool/index/p/2.html">2</a>
                <a href="/Wool/index/p/3.html">3</a>
                <a href="/Wool/index/p/4.html">4</a>
                <a href="/Wool/index/p/5.html">5</a>
                <a href="/Wool/index/p/2.html">下一页</a>
                <a href="/Wool/index/p/15.html">最后一页</a>
            </ul>
        </div>
    </div>
</div>
<div style="clear:both;"></div>
