
<div class="clear"></div><!--导航-->
<div class="aboutbox clean">
    <div class="box">
        <div class="box-l">
            <ul class="navlist">
                <li><a href="index.html">琢玉界简介</a></li>
                <li><p>线下小品馆</p>
                    <div class="downlist"><a href="gallery.html?boxid=1">平洲馆全貌</a><br/><a href="gallery.html?boxid=2">瑞丽馆全貌</a><a
                            href="gallery.html?boxid=3">苏州馆全貌</a><a href="gallery.html?boxid=4">郑州馆全貌</a><a
                            href="gallery.html?boxid=5">绵阳馆全貌</a></div>
                </li>
                <li><a href="howbuy.html">如何购买</a></li>
                <li><a href="aftersale.html">售后服务</a></li>
                <li><a href="contact.html" style="border: none;">联系我们</a></li>
            </ul>
        </div>
        <div class="box-r">
            <div class="title"><h3>售后服务 </h3>
                <p>After-sale service</p></div>
            <div class="textbox mt20"><p class="align-c"><img class="img" src="picture/aftersale.jpg"/></p>
                <div class="box"><h3 style="border: none;">严挑优选</h3>
                    <p>
                        琢玉界坚持“以艺为向，发现大美”的入选上架原则，并不断挖掘优秀的当代玉雕艺术作品，对入选作品的工艺性和艺术性设有门槛，概不接受粗制滥造、以次充好的玉石雕刻，为藏友提供一个值得入手、放心收藏的玉雕艺术品环境。</p>
                </div>
                <div class="box"><h3 class="pt30">首发对接</h3>
                    <p>
                        琢玉界扎根行业前线，积累了众多的行业资源，与优秀的玉雕人及工艺有着紧密的合作，目前签约入驻的国内百余位玉雕师都是行业中甄选的优秀老、中、青代表，在行业都有很高的知名度，作品交由并委托琢玉界在行业首发，为藏友搭建桥梁，提供一手的作品资源，同时琢玉界还提供玉料与玉雕师共同开发设计联合出品，第一时间与藏家见面。</p>
                </div>
                <div class="box"><h3 class="pt30">实物拍摄</h3>
                    <p>琢玉界每一作品图片都是多角度单反实物拍摄，不漏掉任何工艺细节，真实还原作品的完整性，并有上手照和尺寸、小视频等作为参考依据，为藏家提供一个零距离的实物比照。</p></div>
                <div class="box"><h3 class="pt30">深耕文化</h3>
                    <p>
                        每件玉雕作品不是凭空而来，都有其文化根源、文化背景及艺术创作灵感可追溯，琢玉界同样致力于玉文化的传播和弘扬，琢玉界作为文化工作者会将每一件作品背后的文化寓意、创作根源挖掘出来，为作品解读其背后的文化内涵及艺术价值。</p>
                </div>
                <div class="box"><h3 class="pt30">质检把关</h3>
                    <p>“坚决不出无质检证书的玉石”琢玉界对藏家负责，琢玉界凭借多年的行业经验对作品严格把关的同时，再交由国家珠宝检测中心权威的检测为藏家提供质检证书，保证作品的天然材质，放心交到藏家手中。</p>
                </div>
                <div class="box"><h3 class="pt30">收藏证书</h3>
                    <p>每件作品还提供玉雕名家的亲笔签名收藏证书，保证作品的真实性及收藏的唯一性，提供价值收藏依据。</p></div>
                <div class="box"><h3 class="pt30">精编挂绳</h3>
                    <p>挂绳以“素雅、大方、专业”为原则为每件玉雕作品做搭配，搭配不喧宾夺主，以内敛、大气的深色挂绳为主，从专业的角度为藏家提供合身、实用的编绳。</p></div>
                <div class="box"><h3 class="pt30">易碎包装</h3>
                    <p>为保证每一件玉雕作品运输安全，在包装上下了诸多功夫，同时包装盒也别出心裁做好服务。并与顺丰快递紧密合作，贴上“易碎包装”进行特殊服务，确保作品运输安全。</p></div>
                <div class="box"><h3 class="pt30">全额保价</h3>
                    <p>玉石作为快递运输的贵重物品，琢玉界对所有作品采取全额保价体制，由顺丰快递货到签收寄送，承担7天自由退换的信誉，摒弃出现传统行业中出门概不退换的问题，具体退换细则详询客服。</p></div>
                <div class="box" style="margin: 50px 30px 0 30px;">
                    <div class="min-title"><b>1</b><em></em>退换货的基本原则</div>
                    <div class="box1" style="margin-top: 10px;"><p>1、自签收之时起算起的7日内均可退换，如需退换货请先联系客服；</p>
                        <p>
                            2、与客服确认退换货要求后，请将您收到的作品、鉴定证书、收藏证书、收据、赠品、首饰盒等所有配件通过顺丰或中国邮政全额保价寄回，并将快递单号告知客服。未使用顺丰、中国邮政邮寄或未保价、未全额保价的，我们有权拒收。并且在此途中若产生意外，需要由您承担相应责任；</p>
                        <p>3、我们收到您退回的作品并且经检验符合退换货要求后，如选择换货，您可与在线客服联系换购您喜欢的其他作品；</p>
                        <p>4、如选择退货，我们将在2个工作日内为您办理退款业务，遇国家法定节假日则相应顺延；</p>
                        <p>5、客户退换货需要承担来回的邮费和全额保价费，拒收等同于退换货，也需要承担来回的邮费和全额保价费；</p></div>
                </div>
                <!--<div class="box"><h3>不能退换货的情况</h3><p>1、超过退换货期限7天的；</p><p>2、未经授权对作品进行处理、误用、打磨、镶嵌、事故、改动的；</p><p>3、定制类作品，如私人定制、代镶嵌、代加工和事先约定好不接受退换货的；</p><p>4、没有与客服事先联系而直接将作品寄回的；</p><p>5、未使用顺丰或中国邮政邮寄并全额保价的；</p><p>6、作品不完整、鉴定证书、收藏证书、收据、赠品、首饰盒等随附属物不齐全的；</p></div>-->
                <div class="box">
                    <div class="min-title"><b>2</b><em></em>退换货的常见问题</div>
                    <ul class="textul">
                        <li>Q: 我想退货(换货)怎么办理？</li>
                        <li>A: 请联系琢玉界在线客服或微信客服，根据客服的提示和要求，按相关程序办理。</li>
                        <li>Q: 退货要按原包装退回吗?</li>
                        <li>A: 是的，请按原包装将宝贝、证书、收据、赠品、首饰盒一并寄回。</li>
                        <li>Q: 退货后什么时候给我退款呢?</li>
                        <li>A: 琢玉界将在收到退回的宝贝确认无误后，两个工作日内为您办理退款(遇国家法定节假日则相应顺延)</li>
                        <li>Q: 退货时对包装有什么要求吗?</li>
                        <li>A: 需按”琢玉界”邮寄时的包装方法寄回，保价珠宝使用中国邮政、顺丰邮寄。</li>
                    </ul>
                </div>
                <div class="box">
                    <div class="min-title"><b>3</b><em></em>不能退换货的情况</div>
                    <div class="box1" style="margin-top: 10px;"><p>1、超过退换货期限7天的;</p>
                        <p>2、未经授权对产品进行处理、误用、打磨、镶嵌、事故、改动的;</p>
                        <p>3、订做产品，如代镶嵌、代加工等; </p>
                        <p>4、没有与琢玉界客服事先联系而直接将货物寄回的;</p>
                        <p>5、特殊宝贝未使用中国邮政、顺丰或指定快递邮寄并保价的;</p>
                        <p>6、产品不完整、证书、收据、赠品、首饰盒等随附属物不齐全的。</p></div>
                </div>
                <div class="box">
                    <div class="min-title"><b>4</b><em></em>退换货你需要承担什么？</div>
                    <div class="box1" style="margin-top: 10px;"><p>1、如果退换货，您须选择顺丰速递并保价寄回；</p>
                        <p>2、你须要承担往返寄递货品的邮费及保价费。</p></div>
                </div>
                <div class="box">
                    <div class="min-title"><b>5</b><em></em>退换货的邮寄地址</div>
                    <div class="box1" style="margin-top: 10px;"><p>1、由昆明公司发出的包裹，请寄至：云南省昆明市人民中路169号移动大厦17A<br> 邮编：650000
                        （退换细节请与客服联系） </p>
                        <p>2、由德宏瑞丽发出的包裹，请寄至：云南省瑞丽市金星石木文化城15栋1号<br> 邮编：678600 （退换细节请与客服联系） </p>
                        <p>3、由广东平洲发出的包裹，请寄至：广东省佛山市南海区昆岗西路7号翠皇府大厦5层<br> 邮编：528200 （退换细节请与客服联系） </p>
                        <p>4、由广东四会发出的包裹，请寄至：广东省肇庆市四会市东城区广场北路17号国际玉器城综合区一座3号（A118）<br> 邮编： 526200 （退换细节请与客服联系） </p>
                        <p>5、由江苏苏州发出的包裹，请寄至：江苏省苏州市姑苏区园林路52号琢玉界<br> 邮编： 215000 （退换细节请与客服联系） </p></div>
                </div>
            </div>
        </div>
    </div>
</div>
