
<div class="clear"></div><!--导航-->
<div class="aboutbox clean">
    <div class="box">
        <div class="box-l">
            <ul class="navlist">
                <li><a href="index.html">琢玉界简介</a></li>
                <li><p>线下小品馆</p>
                    <div class="downlist"><a href="gallery.html?boxid=1">平洲馆全貌</a><br/><a href="gallery.html?boxid=2">瑞丽馆全貌</a><a
                            href="gallery.html?boxid=3">苏州馆全貌</a><a href="gallery.html?boxid=4">郑州馆全貌</a><a
                            href="gallery.html?boxid=5">绵阳馆全貌</a></div>
                </li>
                <li><a href="howbuy.html">如何购买</a></li>
                <li><a href="aftersale.html">售后服务</a></li>
                <li><a href="contact.html" style="border: none;">联系我们</a></li>
            </ul>
        </div>
        <div class="box-r">
            <div class="title"><h3>联系我们 </h3>
                <p>Contact us</p></div>
            <div class="textbox">
                <div class="box">
                    <div class="min-title">小品馆地址 Offline Gallery</div>
                    <div class="box"><p><b>琢玉界名家小品馆全国地址</b></p>
                        <p>广东·平洲馆：佛山市南海区平州玉器街翠宝园3栋46号</p>
                        <p>云南·瑞丽馆：瑞丽市金星石木文化城15栋1号</p>
                        <p>江苏·苏州馆：苏州市姑苏区园林路52号</p>
                        <p>河南·郑州馆：郑州市金水区北环路52号瀚海爱特中心A塔406 </p>
                        <p>四川·绵阳馆：绵阳市游仙区小岛花园2期4号门半雲会所</p></div>
                </div>
                <div class="box">
                    <div class="min-title">微信公众号 Official WeChat Account</div>
                    <div class="box"><p class="align-c"><img width="250" height="250" src="picture/ysjewm.jpg"/><i>琢玉界订阅号:
                        yudiaojiecom</i></p></div>
                </div>
                <div class="box">
                    <div class="min-title">微信客服 WeChat customer service</div>
                    <ul class="box kful">
                        <li>加微信号：jaadee521（微信客服1）</li>
                        <li> 加微信号：fcyezi（微信客服3）</li>
                        <li>加微信号：jaadee5210 （微信客服2）</li>
                        <li>加微信号：zuiaicuicui521（微信客服4）</li>
                    </ul>
                </div>
                <div class="box">
                    <div class="min-title">微博地址 Weibo</div>
                    <div class="box"><p>新浪微博：http://weibo.com/yudiaojie99 ( 可点击直接访问新浪微博手机触屏版)</p></div>
                </div>
                <div class="box">
                    <div class="min-title">投诉建议 Complaint and suggestion</div>
                    <div class="box"><p>1、您可以发送电子邮件至229601195@qq.com进行投诉或建议</p>
                        <p>2、你可以通过微信公众号：yudiaojiecom</p>
                        <p>3、投诉电话： 13510477398 （运营总监：何亚波） </p></div>
                </div>
            </div>
        </div>
    </div>
</div>

