
<div class="clear"></div><!--导航-->
<div class="aboutbox clean">
    <div class="box">
        <div class="box-l">
            <ul class="navlist">
                <li><a href="index.html">玉雕界简介</a></li>
                <li><p>线下小品馆</p>
                    <div class="downlist"><a href="gallery.html?boxid=1">平洲馆全貌</a><br/><a href="gallery.html?boxid=2">瑞丽馆全貌</a><a
                            href="gallery.html?boxid=3">苏州馆全貌</a><a href="gallery.html?boxid=4">郑州馆全貌</a><a
                            href="gallery.html?boxid=5">绵阳馆全貌</a></div>
                </li>
                <li><a href="howbuy.html">如何购买</a></li>
                <li><a href="aftersale.html">售后服务</a></li>
                <li><a href="contact.html" style="border: none;">联系我们</a></li>
            </ul>
        </div>
        <div class="box-r">
            <div class="title"><h3>购买方式 </h3>
                <p>Ways to buy</p></div>
            <div class="buybox"><h3>APP客户端购买</h3>
                <p>下载APP随时随地挑选满意宝贝，联系APP内客服购买</p>
                <p class="align-c mt20"><img class="img" src="picture/downapp.jpg"/></p></div>
            <div class="buybox"><h3>微信购买</h3>
                <p>选择满意宝贝后，点击联系微信客服，选择在线咨询购买。</p>
                <ul class="mt20">
                    <li>客服：jaadee521</li>
                    <li>客服：fcyezi</li>
                    <li>客服：jaadee5210</li>
                    <li>客服：zuiaicuicui521</li>
                </ul>
            </div>
            <div class="buybox"><h3>电话订购</h3>
                <p>您在翡翠王朝上看到心仪的宝贝后，可电话联系下单。</p>
                <p class="mt20">全国免费电话：</p>
                <ul>
                    <li>叶子：18100891254</li>
                    <li>燕子：18100891084</li>
                    <li>梅子：18100891436</li>
                </ul>
            </div>
        </div>
    </div>
</div>
