
<div class="clear"></div><!--导航-->
<div class="aboutbox clean">
    <div class="box">
        <div class="box-l">
            <ul class="navlist">
                <li><a href="index.html">玉雕界简介</a></li>
                <li><p>线下小品馆</p>
                    <div class="downlist"><a href="gallery.html?boxid=1">平洲馆全貌</a><br/><a href="gallery.html?boxid=2">瑞丽馆全貌</a><a
                            href="gallery.html?boxid=3">苏州馆全貌</a><a href="gallery.html?boxid=4">郑州馆全貌</a><a
                            href="gallery.html?boxid=5">绵阳馆全貌</a></div>
                </li>
                <li><a href="howbuy.html">如何购买</a></li>
                <li><a href="aftersale.html">售后服务</a></li>
                <li><a href="contact.html" style="border: none;">联系我们</a></li>
            </ul>
        </div>
        <div class="box-r">
            <div class="title"><h3>关于我们</h3>
                <p>About us</p></div>
            <div class="textbox"><h3 class="align-c mt30">玉雕界——中国玉雕艺术第一平台</h3>
                <p class="indent mt20">
                    玉雕界(公众号：yudiaojiecom)是由翡翠王朝全力打造的玉雕艺术品牌，是业界公认的中国玉雕艺术第一平台，以“推介玉雕艺术名家、弘扬中华玉石文化”为使命，是及时、全面发布玉雕行业资讯，展示、销售玉雕艺术品，提供开放交流的综合性平台。</p>
                <p class="align-c mt20"><img class="img" src="picture/ydjbrand.png"/></p>
                <p class="indent mt20">
                    目前，已有全国百余位玉雕名家入驻，并在云南瑞丽，广东平洲、四会，江苏苏州，河南郑州，四川绵阳等地设有名家小品馆或办事处。平台囊括了翡翠、和田玉、南红、黄龙玉、绿松石、玛瑙、水晶等十余类主流玉种的玉雕艺术作品。</p>
                <p class="align-c mt20"><img class="img" src="picture/pic01.png"/></p>
                <p class="indent mt20">
                    玉雕界名家小品馆是国内第一个以专门展示、宣传、销售玉雕艺术家玉雕小品的玉雕艺术馆。2015年4月，名家小品馆开启了全国巡展之旅，备受业界和翠友追捧。小品馆的发展模式，开创了玉雕艺术品O2O销售、玉雕艺术品互联网+的新模式，引发国内主流媒体争相报道和行业高度关注。其线下自媒体平台每日更新行业资讯、名家新作、艺术美学与数十万粉丝交流互动，并定期开展全国线下巡展与藏友见面。</p>
                <p class="align-c mt20"><img class="img" src="picture/pic02.png"/></p>
                <p class="indent mt20">同时，玉雕界业务增设了私人定制、名家精修等业务，不定期举行线上或线下拍卖以及玉石材料库供应链建设，服务藏友和玉雕师，围绕“推介玉雕艺术名家
                    弘扬中华玉石文化”的中心思路，继续探索行业发展之路。</p></div>
        </div>
    </div>
</div>
<style>    .fmainfoot {
    text-align: center;
    margin: 15px 0;
}

.fmainfoot li {
    display: inline-block;
    margin: 0 10px;
}

.fmainfoot li a {
    color: #666666;
}

.fmainfoot span {
    color: #666666;
}
</style>
<div class="count"><a target="_blank" href="https://www.jaadee.com/Page/appdown.html" style="display:block;"><img
        style="width:100%; height:auto; margin-top:10px;" src="picture/appbig2017_7.jpg"/></a>
